@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-mk-red: #d20000;
  --color-mk-yellow: #ffe600;

  --font-lexend: "Lexend", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --default-font-family: var(--font-lexend);
}
