---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="flex space-x-4">
  <a href={`/${lang}/`} class="text-gray-800 hover:text-mk-red">{t('nav.home')}</a>
  <a href={`/${lang}/blog`} class="text-gray-800 hover:text-mk-red">{t('nav.blog')}</a>
  <a href={`/${lang}/contact`} class="text-gray-800 hover:text-mk-red">{t('nav.contact')}</a>
</nav>